@charset "utf-8";
@import './variable.scss';

html,body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.route-link{
  color: $blank;
  text-decoration: none;
}

//表单label 行高自动
.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
  line-height: normal;
  margin-bottom:10px;

}
.queryForm{
  //表单label 行高自动
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
    line-height: normal;
    margin-bottom:10px;

    .el-input__inner {
      width: 160px !important;
    }
  }

}

//表格表头居中
.el-table td, .el-table th.is-leaf{
  text-align: center;
}

  //分页
.el-pagination{
  float:left !important;
}
